index.html filter=lfs diff=lfs merge=lfs -text
/assets filter=lfs diff=lfs merge=lfs -text
assets/DE1CBA2D-3298-469B-997A-7DFAD3A61DEA/assets/IMG_2126.mov-41.3633-73.9067.mov filter=lfs diff=lfs merge=lfs -text
